
.bor1 {
  padding: 5em;
  background: rgb(228, 228, 154);
}
.bor2 {
  padding: 5em;
  background: rgb(194, 194, 39);
}
.bor3 {
  padding: 5em;
  background: rgb(143, 143, 97);
}
.bor4 {
  padding: 5em;
  background: rgb(102, 102, 45);
}

/* Product */


#delete-button:hover{
  background-color: rgb(255, 68, 68);
}
.out{
  background-color: #FAD6A5;
   height: 600px;
    width: 60%;
}
.inner{
  background-color: rgb(240, 255, 246);
  width: 80%;
  height: 80%; 
  margin-top: 60px;
  margin-left: 10%;
  border-radius: 1em;
}
.information-user{
  margin: 2em 2em 2em 2em;
}
.button-payment:hover{
  background-color: hsl(141, 71%, 48%);
}

.product {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.productmain {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.product_items {
  cursor: grab;
  padding: 1em;
}

/* .product_items {
  cursor: grab;
} */

.product-img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
}

.scrollXLeft {
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
}

.scrollXLeft::-webkit-scrollbar {
  width: 0px;
  height: 2em;
}

.scrollXLeft::-webkit-scrollbar-thumb {
  background: #5f4747;
  /* border-radius: 10px; */
  height: 0px;
}

#header{
  height:40vw;
  font-size:4vw;
  box-sizing:border-box;
  text-align:center;
  background-image: url("./image/bc.jpg");
  background-size:cover;
  background-position:center;
  color:hsl(8, 62%, 5%);
  display:flex;
  background-attachment:fixed;
  position:relative;
}
.header-inner{
  background-image:
    linear-gradient(to bottom,#0009,#0007);
  width:100%;
  height:100%;
  justify-content:center;
  align-items:center;
  display:flex;
  flex-flow:column wrap;
  font-family: 'Mochiy Pop P One', sans-serif;
  color:hsl(33, 73%, 72%);
}
.header-inner h1,.header-inner h2{
  margin:0;
}
.header-inner h2{
  font-size:2em;
  color:hsl(33, 73%, 72%);
}

.is-horizontal-center {
  justify-content: center;
}

/* Maine */

.nonebackbutton{
  background-color: transparent;
  border: none;
}

.stickyAdmin{
  position: fixed;
  bottom: 10%;
  right: 10%;
  background: blue;
}
/* image scroll */

#one {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
}

#two {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: transparent;
  border: none;
}

#three {
  position: fixed;
  bottom: 180px;
  right: 20px;
  background-color: transparent;
  border: none;
}

/* Preview */

.another-pic1 {
  width: 60px;
  height: 60px;
  top: 102px;
  left: 15%;
}

.another-pic2 {
  width: 60px;
  height: 60px;
  top: 42px;
  left: 34%;

}

.another-pic3 {
  width: 60px;
  height: 60px;
  top: -19px;
  left: 52%;
}

.another-pic4 {
  width: 60px;
  height: 60px;
  top: -79px;
  left: 70%;
}

.cardproduct {
  width: 300px;
  height: 200px;
}

.logoes{
  transition: all 0.2s;
  box-shadow: 0.4em 0.4em 0.3em #0006;
}
.logoes:hover{
  transform: rotateZ(-10deg) scale(1.1,1.1);
}
.bill{
  border: 1px solid #0004;
  box-shadow: 0.2em 0.2em 0.2em ;
}
.cart-product{
  box-shadow: 0.2em 0.2em 0.2em ;
}

.b-addcart:hover{
  box-shadow: 0.2em 0.2em 0.2em #0005;
 transition: all 0.2s 
}
.b-detail:hover{
  box-shadow: 0.2em 0.2em 0.2em #0005;
 transition: all 0.2s 
}
.description{
  overflow: scroll;
}
.add-cart:hover{
  transition: all 0.1s;
  box-shadow: 0.2em 0.2em 0.2em #0005;
  transform: rotate(-2deg);
}
.scroll{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 17%;
  overscroll-behavior-inline: contain;
  overflow-x: auto;
}


[type="file"]{
  background: #f15d22;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
	/* font-family: 'Rubik', sans-serif;
	font-size: inherit; */
  font-weight: 300;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 20px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}


.btn-1 {
  background-color: #f79159;
  box-shadow: 0 6px darken(#f79159, 10%);
  transition: none;
}

.btn-1:hover {
  box-shadow: 0 4px darken(#f79159, 10%);
  top: 2px;
}

.is-custom{
  width: 1600px;
  max-width: 100%;
}

@media screen and (min-width: 769px){
.modal-card, .modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 800px;
}
}