.bor1 {
  padding: 3em;
}
.bor2 {
  padding: 10em;
  background: rgb(194, 194, 39);
}
.bor3 {
  padding: 10em;
  background: rgb(143, 143, 97);
}
.bor4 {
  padding: 10em;
  background: rgb(102, 102, 45);
}

/* Product */


#delete-button:hover{
  background-color: rgb(255, 68, 68);
}
.out{
  background-color: #FAD6A5;
   height: 600px;
    width: 60%;
}
.inner{
  background-color: rgb(240, 255, 246);
  width: 80%;
  height: 80%; 
  margin-top: 60px;
  margin-left: 10%;
  border-radius: 1em;
}
.information-user{
  margin: 2em 2em 2em 2em;
}
.button-payment:hover{
  background-color: hsl(141, 71%, 48%);
}

.product {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.product_items {
  cursor: grab;
  padding: 1em;
}

.product_items {
  cursor: grab;
}

.product-img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
}

/* .product123 {
  padding: 2em;
  display: flex;
  gap: 1em;
  overflow-x: auto;
} */

#header{
  height:40vw;
  font-size:4vw;
  box-sizing:border-box;
  text-align:center;
  background-image: url("assets/bc.jpg");
  background-size:cover;
  background-position:center;
  color:hsl(8, 62%, 5%);
  display:flex;
  background-attachment:fixed;
  position:relative;
}
.header-inner{
  background-image:
    linear-gradient(to bottom,#0009,#0007);
  width:100%;
  height:100%;
  justify-content:center;
  align-items:center;
  display:flex;
  flex-flow:column wrap;
  font-family: 'Mochiy Pop P One', sans-serif;
  color:hsl(33, 73%, 72%);
}
.header-inner h1,.header-inner h2{
  margin:0;
}
.header-inner h2{
  font-size:2em;
  color:hsl(33, 73%, 72%);
}

/* Maine */


/* image scroll */
